.d-flex.flex-column.border-bottom.mx-5.flex-grow-1.hide_scroll
    each message in messages
        if message.author
            .d-flex.align-items-end.mb-3 
                img(src=message.author.avatar, alt="").avatar.mb-0.ms-0
                .bg-gray.p-4.radius
                    p.fw-bold.text-dark.mb-3= message.author.name
                    p.text-dark.message-width.border-bottom.pb-2= message.text
                    p.small.text-dark= message.time
        else
            .d-flex.align-items-end.mb-3.align-self-end
                img(src="/images/avatar_1.jpg", alt="").avatar.mb-0.ms-0
                .bg-primary.p-4.radius
                    p.text-light.message-width.border-bottom.pb-2= message.text
                    p.small.text-light= message.time

        
            
                