div.tab-pane.fade.py-5.h-100.show#current-chat(role="tabpanel" aria-labelledby="current-chat-tab")
    .fixed-top.bg-white
        include chatHeader.pug
    .h-100.d-flex.flex-column.m-4.pt-4
        each message in messages
            if message.author
                .d-flex.align-items-end.mb-3 
                    .bg-light.p-4.radius.contact
                        p.fw-bold.text-dark= message.author.name
                        p.text-secondary.message-width.border-bottom.pb-2.mb-1= message.text 
                        p.small.text-secondary.text-muted= message.time
            else
                .d-flex.align-items-end.mb-3.align-self-end
                    .bg-primary.p-4.radius.contact
                        p.text-light.message-width.border-bottom.pb-2.mb-1= message.text 
                        p.small.text-light= message.time
    .d-flex.py-3.sticky-bottom.bg-white
        input(type="text" placeholder="Напишите сообщение...").form-control.border-0.input_search
        button.p-2.bg-primary.radius-2
            img(src="/images/icons/cursor.svg", alt="send message").w-4